.footer {
    background-color: #4c4c4c;
    height: 65px;
    padding: -15px;
}

.footer__content {
    border-top: thin black;
    align-content: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer__content:hover {
    cursor: pointer;
}

.content__img {
    justify-content: center;
    align-content: center;
    margin-top: auto;
    margin-bottom: auto;
    background-image: url(../images/logo2.png), url(../images/logo.png);
    height: 50px;
    width: 50px;
    background-size: 100%;
    background-repeat: no-repeat;
}

.footer__content .content__text {
    padding-top: 10px;
    justify-content: center;
    align-content: center;
    color: white;
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 29px;
}