.header {
    background-color: aquamarine;
    background-image: url("../images/Header_background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 565px;
    padding: 20px;
}

.logo_menu {
    display: flex;
    flex-direction: row;
    padding: 40px;
}

.logo-img {
    margin-top: -10px;
    margin-left: -40px;
    float: left;
    height: 83px;
    width: 83px;
    background-size: 100%;
    background-image: url(../images/logo2.png), url(../images/logo.png);
    background-repeat: no-repeat;
    background-position: center;
}

.header__content {
    margin: auto;
    box-sizing: content-box;
    width: 1020px;
}

.logo__text {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    color: white;
    font-size: 41px;
}

.content__main_nav {
    box-shadow: -4px -4px rgba(128, 111, 36, 2.5), -8px -8px rgba(151, 131, 22, 0.5);
    display: flex;
    flex-direction: row;
    margin-left: auto;
    width: 455px;
    height: 40px;
    background-color: #f5c506;
    margin-top: 20px;
}

.main_nav__element {
    display: flex;
    flex-direction: row;
    border: #b99403 1px;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 32%;
}

.main_nav__element p {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;
    color: #b99403;
}

.element__text_about::before {
    background-image: url("../images/User.png");
}

.main_nav__element p:hover {
    color: white;
    cursor: pointer;
}

.video_slogan {
    display: flex;
    flex-direction: row;
    padding-top: 20px;
}

.content__logo:hover {
    cursor: pointer;
}

.slogan__first_line {
    color: #f5c506;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 63px;
    display: block;
}

.slogan__second_line {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-size: 63px;
    display: block;
}

.content__video {
    width: 550px;
}

.content__slogan {
    text-align: center;
    padding-left: 100px;
}

.subtext {
    font-size: 11px;
}

@media (max-width: 420px) {
    .header {
        height: 100%;
        padding: 0%;
    }
    .header__content {
        width: 100%;
        height: auto;
    }
    .content__main_nav {
        box-shadow: none;
        width: max-content;
        margin: 0%;
        width: auto;
    }
    .content__slogan {
        display: none;
    }
    .logo-img {
        display: none;
    }
    .logo_menu {
        background-color: #5b5b5b;
        padding: 0%;
    }
    .logo__text {
        font-size: 16px;
    }
    .subtext {
        display: none;
    }
    .content__main_nav {
        width: 100%;
        box-shadow: none;
        margin-top: 0%;
    }
    .main_nav__element p {
        font-size: 13px;
    }
    .video_slogan {
        padding: 0%;
    }
}

@media(min-width: 760px)AND ( max-width: 770px) {
    .header {
        height: 100%;
        padding: 0%;
    }
    .header__content {
        width: 100%;
        height: auto;
    }
    .content__main_nav {
        box-shadow: none;
        width: max-content;
        margin: 0%;
        width: auto;
    }
    .content__slogan {
        display: none;
    }
    .logo-img {
        display: none;
    }
    .logo_menu {
        background-color: #5b5b5b;
        padding: 0%;
    }
    .logo__text {
        font-size: 16px;
    }
    .subtext {
        display: none;
    }
    .content__main_nav {
        width: 100%;
        box-shadow: none;
        margin-top: 0%;
    }
    .main_nav__element p {
        font-size: 13px;
    }
    .video_slogan {
        padding: 0%;
    }
    .content__video video {
        margin-left: 18.5%;
    }
}