.header {
    background-color: aquamarine;
    background-image: url("../images/Header_background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 565px;
    padding: 20px;
}

.header__content {
    margin: auto;
    box-sizing: content-box;
    width: 1300px;
}

.logo__text {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    color: white;
    font-size: 41px;
}

.content__main_nav {
    box-shadow: -4px -4px rgba(128, 111, 36, 2.5), -8px -8px rgba(151, 131, 22, 0.5);
    display: flex;
    flex-direction: row;
    margin-left: 600px;
    width: 450px;
    height: 40px;
    background-color: #f5c506;
}

.main_nav__element {
    display: inline-block;
    border: #b99403 1px;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 32%;
}

.element__text {
    font-style: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;
    color: #b99403;
}

.slogan__first_line {
    color: #f5c506;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 63px;
    display: block;
}

.slogan__second_line {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-size: 63px;
    display: block;
}

.content__slogan {
    padding: 30px;
    width: 100%;
}