.list_block {
    background-image: url("../images/list_block_background.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 495px;
}

.list_Block_content {
    width: 1020px;
    margin: auto;
}

.list_Block_content .content__title {
    padding: 20px;
    color: #f5c506;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 43px;
    width: auto;
}

.circle-with-text {
    display: flex;
    font-weight: bold;
    background: #f5c506;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    text-align: center;
    margin: 5px 5px;
    font-size: 15px;
    padding: 15px;
    display: flex;
    height: 180px;
    width: 180px;
    color: #fff;
    z-index: 1;
    height: 100px;
    width: 100px;
    align-self: flex-start;
    position: absolute;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.devices {
    margin-left: 30px;
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-content: space-around;
    align-items: center;
    justify-content: space-between;
}

.pictures_list {
    display: flex;
    flex-direction: row;
}

ul li {
    margin: 5px;
    list-style-type: none;
    color: #a9a9a7;
    font-size: 22px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
}

ul li::before {
    content: "\2022";
    color: #f5c506;
    font-weight: bold;
    display: inline-block;
}

.pictures {
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-content: space-between;
    align-items: center;
}

@media(min-width: 760px)AND ( max-width: 770px) {
    .list_Block_content {
        width: 100%;
    }
    ul {
        display: none;
    }
    .list_block {
        margin-top: 200px;
        height: 100%;
    }
    .pictures_list {
        margin: auto;
    }
    .computer {
        width: 60%;
        height: 0;
        padding-top: 50%;
        position: relative;
        display: block;
    }
    .tablet {
        width: 30%;
        height: 0;
        padding-top: 30%;
        position: relative;
        display: block;
    }
    .computer img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-height: 100%;
        max-width: 100%;
    }
    .tablet img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-height: 100%;
        max-width: 100%;
    }
    .circle-with-text {
        padding: 0px;
        margin-left: 20px;
        margin-top: 40px;
    }
}

@media (max-width: 420px) {
    .list_Block_content {
        width: 100%;
    }
    ul {
        display: none;
    }
    .list_block {
        margin-top: 230px;
        height: 100%;
    }
    .pictures_list {
        margin: auto;
    }
    .computer {
        width: 60%;
        height: 0;
        padding-top: 50%;
        position: relative;
        display: block;
    }
    .tablet {
        width: 30%;
        height: 0;
        padding-top: 30%;
        position: relative;
        display: block;
    }
    .computer img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-height: 100%;
        max-width: 100%;
    }
    .tablet img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-height: 100%;
        max-width: 100%;
    }
    .circle-with-text {
        padding: 0px;
        height: 80px;
        width: 80px;
    }
}